
@{
    Layout = null;
    ViewData["Title"] = "Forgotten Password";
}
<link href="~/css/RegisterStyle.css" rel="stylesheet" />
<style>
    a {
        text-decoration: none;
        color: lightgrey;
    }

    ::-webkit-input-placeholder {
        text-align: center;
        font-size: larger;
    }
</style>
<link href="~/css/bootstrap.css" rel="stylesheet" />

<div>
    <form method="post" id="msform">
        <fieldset>
            <h2 class="fs-title">Forgotten Password</h2>
            @ViewBag.FailedMessage
            @ViewBag.SuccessMessage
            <input class="inputs" id="EmailID" name="EmailID" type="text" placeholder="Email">

            <input type="submit" name="submit" class="action-button" value="Submit" />
            <p> <a href="Login" style="color: wheat">Back to Login</a> </p><br />
        </fieldset>

    </form>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.easing.min.js"></script>

<script src="~/js/RegisterJS.js"></script>
