@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<link href="~/css/HomeStyle.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Style.css" rel="stylesheet" />


<link href="~/css/TransparentHeader.css" rel="stylesheet" />

<body style="min-width:50%;">
    <div id="background">
        <h1 id="header" style="text-align: center;">Your Diet Planner</h1>
        <p id="subHeader" style="text-align: center;"> Preparing your meals with a pinch of Machine Learning</p>




    </div>
    <section class="details-card" style="padding-top:25%;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class=" style_prevu_kit card-content" style=" height:50vh;">
                        <div class="card-img">
                            <img src="~/images/Best-and-Worst-Diet-Plans-for-Weight-Loss-Heart-Health-and-More-ALT-722x406.jpg" alt="">

                        </div>
                        <div class="card-desc">

                            <p>
                                Help to control your  weight and BMI by providing a suitable diet plan
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content style_prevu_kit" style=" height:50vh;">
                        <div class="card-img">
                            <img src="~/images/nov16-25-516444946.jpg" alt="">

                        </div>
                        <div class="card-desc">

                            <p>
                                With the help of Machine Learning algorithm,the app is able to generate flexible diet plans based on your preferences
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content style_prevu_kit" style=" height:50vh;">
                        <div class="card-img">
                            <img src="~/Images/cross-full.jpg" alt="">

                        </div>
                        <div class="card-desc">

                            <p>
                                Can be accessed on any device
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/TransparentHeader.js"></script>
</body>
