@model CoreDietPlan.Models.FoodDb

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>FoodDB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServingQty" class="control-label"></label>
                <input asp-for="ServingQty" class="form-control" />
                <span asp-validation-for="ServingQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serving" class="control-label"></label>
                <input asp-for="Serving" class="form-control" />
                <span asp-validation-for="Serving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fgroup" class="control-label"></label>
                <input asp-for="Fgroup" class="form-control" />
                <span asp-validation-for="Fgroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food" class="control-label"></label>
                <input asp-for="Food" class="form-control" />
                <span asp-validation-for="Food" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

